{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
    crossorigin="anonymous">
</head>

<body>

<div id="bg"></div>

                <nav class="nav flex-column">
                    
            <div class="navbar">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="dropdown-item" href="{% url 'register' %}"><i class="fas fa-plus"></i> Register Hospital</a>
                    </li>
                    <li class="nav-item">
                        <a class="dropdown-item" href="{% url 'about' %}"><i class="fas fa-users"></i> About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="dropdown-item" href="{% url 'feedback' %}"><i class="far fa-comments"></i> Feedback</a>
                    </li>
                </ul>

                </nav>
    </div>
        
    <div class="container">

        <main>
            <section id="primary">
                <img src="{% static 'images/web_app_logo.png' %}" alt="LOGO">
                <hr id="hr">
                <a class="btn btn-danger" href="{% url 'map' %}"><i class="fas fa-search-location"></i> SEARCH SPACES !!</a>
            </section>
        </main>

    </div>

    </body>
</html>